@charset "UTF-8";
@font-face {
  font-family: 'Helvetica Neue',Helvetica,sans-serif; 
  src: url('../fonts/mui.ttf');
}
/*顶部颜色*/
.headerBar{background-color: #ffa935;}

/*底部颜色*/
.footerBar{background-color: #f6f6f6;box-shadow: 0 1px 6px #ccc;}

/*按钮白色*/
.btn-color-w{color: white;}

/*间隔模块*/
.cell-interval{background-color: #f0eff5;padding: 5px 0px;width: 100%;text-align: center;}
.cell-in{background-color: #f0eff5;padding: 5px 0px;width: 100%;text-align: center;}

/*绘制线条*/
.lc-line-t{border-top: #e0e5e6 solid 1px;}
.lc-line-b{border-bottom: #e0e5e6 solid 1px;}

/*浮动*/
.fl{float: left}
.fr{float: right}

/*首页－顶部三个菜单视图样式*/
.mui-control-content .mui-loading { margin-top: 150px;}

/**/
.kitchen-view{background-color: white;}
.kitchen-item{background-color: white;display: -webkit-flex;flex-direction: column; /*border: 1px solid #c8c7cc;*/border-radius: 5px;margin: 10px;}
.kitchen-item .kit-item-img{  line-height: 82px;  max-width: 126px;  height: 82px;margin-right: 10px;}
.kitchen-item .kit-item-txt{flex: 1;border-bottom: 1px solid #eee;width: 100%;}
.kit-item-txt.mui-pull-left .cut p {font-size: 16px;line-height: 16px;}
.kit-item-txt.mui-pull-left img {width: 68px;margin: 10px 10px 10px 0px;float: left;}
.kitchen-item .kit-item-txt .item-base-txt{ flex: 1;}
.kitchen-item .kit-item-txt .kit-item-txt-tt{color: #333333;font-size: 1.0rem;}
.kitchen-more{background-color: white;height: 44px;align-items: center; display: -webkit-flex;}
.kitchen-more .kitchen-more-btn{align-items: center; width: 80px; height: 30px;background-color: white;text-align: center;line-height: 30px;margin: 0 auto;border-radius: 5px;border: #e6e6e6 solid 1px;color: #333333;}
.ibt-bsv{text-align: left;color: #939393;font-size: 14px;}
.ibt-bsv .ibt-bsv-bk{width:18px;height: 20px; margin-right: 3px;}
.mui-slider1 .mui-slider-group .mui-slider-item img {width: 100%;}
.kit-item-txt.mui-media-body img {width: 16px;}
span.mui-icon p {margin-left: 16px;}
.title,.title-b,.title-c,.title-cc{border-bottom: 1px solid #eee;}
.title-a,.title-na {border-bottom: 1px solid #eee;/*padding-bottom:10px;*/}
.title-d {border-bottom: 1px solid #eee;} 
.title-e {color: #333;margin-left: 10px;margin-right: 10px;}
.title,.title-a,span {font-size: 16px;line-height: 36px; padding-bottom: 0px;}
.title-b span {font-size: 16px;line-height: 36px;}
.title-b ,.title-c{padding-bottom: 0px;}
.title-b span p{font-size: 14px;line-height: 20px;color: #333;}
.title-c span p,.title-d span p,.title-o span p,.title-k span p {font-size: 14px;line-height: 18px;color: #8f8f94;white-space: normal;}
.title-b small {font-size: 16px;font-weight: bold;}
span.jieshao {margin-top: -75px;float: left;margin-left: 68px;}
span.cut {float: left;}
span {font-size: 16px;}
span.money {float: right;margin-top: -95px;margin-right: 10px;}
span.ing {float: right;color: #ffa935;font-size: 14px;line-height: 38px;font-weight: normal;}
span.ing input {float: right;margin-top: 13px;margin-left: 2px;}
span.mui-icon.mui-icon-refresh p {margin-left: 16px;}
.mui-ellipsis-3 {display: -webkit-box;overflow: hidden;white-space: normal!important;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.fx-item-tt{color: #333333;font-size: 1.2rem;}
.fx-item-ds{color: #939393;font-size: 0.8rem;margin-top: 5px;}
.fx-item-view{height:auto;}

/*个人中心页面*/
.user-header-view{background-color:#ffa935;height:150px;display: -webkit-flex; /*background-image: url(../images/banner01.png)*/}
.user-header-view .user-topv{text-align: center;width: 80%; height: 140px;align-self:center;margin: 0px auto;}
.user-img{width: 80px; height: 80px; margin: 0 auto; text-align: center;}
.user-topv img{width: 72px;display: -webkit-flex;border: 1px solid #ffa935;border-radius: 40px;}
.user-longin{color: white;font-size: 16px;}
.user-himt{color: white;font-size: 0.85rem;}
.mui-table-tit-cell img{width: 36px;}
.mui-tp {display: block;text-align: center;}
.mui-content .mui-tp img{margin-top: 120px;width: 130px;}
.mui-content .mui-tp .mui-word{font-size: 14px;margin-top: -10px;}

/*详情页面*/
.main{width: auto;}
.media-body{color: #000;margin-left: 15px;margin-top: 15px;}
.media-body p{font-size: 14px;line-height: 28px;}
video{width: 100%;height: 100%;}

/*搜索框*/
.top-sch-box {height: 34px; margin: 10px; padding: 10px;font-size: 14px;color: #999999;background-color: #fff;border-radius: 3px;}
.centerflex {display: flex;-webkit-box-align: center;align-items: center;}
.top-sch-box .fdj {color: #979797;font-size: 24px;float: left;margin-top: -24px;}
.top-sch-box .sch-txt {width: 100%; padding: 0 10px;border: none;height: 34px;font-size: 16px; background-color: #fff;margin-top: -10px;}

/*驿站明细页面*/
.mui-ziliao {color: #000;font-size: 16px;line-height: 28px;padding-top: 5px;}
p.zhiwei {color: #000;font-size: 16px;line-height: 8px;padding-left: -18px;}
p.number {color: #000;font-size: 16px;padding-bottom: 5px;}
.title-e img {margin:15px 10px 10px 5px;}
.mui-ziliao p.btn-color-w.mui-icon.mui-icon-phone.mui-pull-right {margin-top: -42px;margin-right: 80px;}
.title-e img.mui-media-people.mui-pull-left {width: 68px;}
.mui-tita {margin-top: -10px;background-color: #fff;margin-left: -10px;}
p.people {color: #000;font-size: 16px;margin-left: 5px;line-height: 5px;}
li.mui-table-view-cell.mui-media {list-style-type: none;}
p.zixun {color: #000;font-size: 16px;line-height: 5px;padding: 0px 5px;}
p.jieshao {color: #000;font-size: 16px;margin-left: 10px; margin-right: 10px;line-height: 40px;font-weight: bold; margin-top: -7px;padding: 0px 5px;}

/*驿站小区资讯*/
span.mui-name {line-height: 20px;}
span.mui-name small {margin-left: 20px;}
.title-number {font-weight: bold; margin-top: -5px;border-bottom: 1px solid #eee;}
.kit-item-name p {color: #000;}
.title-na p {color: #000;}
.title-na img ,.title-cc img{width: 16px;}
p.mui-name small {padding-left: 30px;}
p.mui-name-a small {padding-left: 30px;}
.kit-item-name {border-bottom: 1px solid #eee;padding-bottom: 5px;}
input[type=sub] {color: #fff;border: 1px solid #ffa935;background-color: #ffa935;}
input[type=sub] {margin-top: 10px;font-size: 14px;line-height: 28px;margin-bottom: 0;text-align: center;color: #ffa935;border: 1px solid #ffa935;border-radius: 3px;background-color: #fff;margin-right: 15px;width: 80px;float: inherit;}
a.btn-color.mui-pull-right{margin-top: 13px; font-size: 14px;color: #fff;}
a.btn-me.mui-pull-right {margin-top: 10px;font-size: 14px;line-height: 26px;}
a.btn-me.mui-pull-right {border-radius: 5px;background-color: rgba(0,0,0,0.1);width: 62px;height: 24px;text-align: center;color: #fff;}

/*添加其它*/
.mui-wrap p,.mui-wrap-b p {color: #000;}
.mui-wrap {border-bottom: 1px solid #eee;}
.mui-wrap-a {border-bottom: 1px solid #eee;padding-bottom: 10px;}
.mui-wrap-c {border-bottom: 1px solid #eee;margin-top: 0px;}
select#address {/*width: 68%;*/
    height: 32px;
    float: right;
    margin-bottom: inherit;
    /*margin-right: 8px;*/}
.mui-wrap-a p {color: #000;}
input[type="address"] {width: 67%;margin-left: 85px;height: 32px;float: left;padding: 0px 5px;}
input[type="name"],input[type="school"] {width: 58%;float: inherit;height: 32px;}
input[type="school"] {width: 55%;float: inherit;height: 32px;}	
span.danwei{margin-left: 5px;}
.kit-item-people span {margin-top: -31px;}
.kit-item-people p{line-height: 20px; white-space: initial;}

/*添加其它*/
input[type="people-name"],input[type="relation"],input[type="birth"]{width: 65%;float: inherit;height: 32px;}
/*p.people-name select {width: 65%;}*/
p.photo {font-size: 14px;text-align: center;border-bottom: 1px solid #eee;padding-bottom: 10px;}
ul.mui-table-view.mui-message img {width: 24px;}

/*客户信息*/
.message p {color: #000;font-size: 12px; margin: 5px 0px; line-height: 18px;border-right: 1px solid #eee; width: 25%;text-align: center;padding: 5px 0px 0px 0px;}
.message {display:  -webkit-box;background-color: #fff;}
.message small {font-size: 12px;line-height: 40px;}
.mui-table-view .mui-media-message.mui-pull-left {margin-right: 10px;margin-top: 5px;}
p.kehu {margin-bottom: 0px;}

/*基本信息*/
span.xingbie {margin-left: 20px;color: #fff;}
td span {line-height: 20px;}
p.license-plate span{padding-left: 20px;line-height: 10px;}
p.car-number {border-bottom: 1px solid #eee;padding-bottom: 10px;white-space: initial;}
.kit-item-people span {line-height: 20px;}
p.D-address {white-space: normal;}
ul.mui-table-view.mui-message,ul.mui-table-view.mui-table-view-chevron,ul.mui-table-view.mui-administrate {background-color: #fff;}
.mui-time-icon img {width: 16px; padding-top: 7px;margin-left: 10px;float: left;}
.mui-time-icon {background-color: #fff;height: 32px;border-radius: 16px;margin: 10px;width: 150px;text-align: center;}
.mui-time-icon small {line-height: 36px;}
.kit-item-visit span {margin-top: -45px;}
.kit-item-visit .visit {border-bottom: 1px solid #eee;padding-bottom: 5px;}
small.one,small.name {float: right;}
small.distance {color: #ffa935;}
input[type="new"] {width: 62%;float: right;height: 32px;/*border: 1px solid #8f8f94;border-radius: initial;*/}
input[type="date"] {width: 58%;height: 32px;float: inherit;/*border: 1px solid #8f8f94;border-radius: initial;*/}
button.miu-comment { float: right;margin-top: -50px;}
.kit-item-comment p {font-weight: bold;}
p.mui-subject {font-weight: bold; border-bottom: 1px solid #eee;padding-bottom: 5px;}
span.score {float: right;line-height: 24px;margin-right: 20px;}
p.choice input {width: 12%;}
p.choice-star input {width: 8%;}
p.mui-subject-a {font-weight: bold;padding-bottom: 5px;}
p.mui-subject-a small {font-weight: normal;}
small.yes-no input {margin: 0px 5px;}
.mui-input-row {background-color: #fff;margin: 10px 10px;}
.mui-input-row-a {background-color: #fff;border-bottom: 1px solid #eee;}
.remark p {font-weight: bold;color: #000;padding-left: 15px;padding-top: 10px;}
.view p {font-weight: bold;color: #000;padding-left: 15px;}
.look-comment {margin-top: -45px;}
p.user-star {margin-top: -15px;}
.mui-comment-star {float: left;margin-left: 60px;margin-top: -100px;}
.mui-comment-star p,.mui-comment-star span {font-size: 14px;}
.mui-money p{color: #000;font-size: 14px;line-height: 18px;}
.mui-money {float: right;margin-top: -93px;}
span.work-money {font-size: 14px;color: red; line-height: 14px;}
p.explain {font-size: 14px;}
p.assess {border-bottom: 1px solid #eee;padding-bottom: 10px;}
p.score {float: left;}
p.visitors {float: right;}
.coin-button {text-align: center;padding-left: 10px;padding-right: 10px;padding-bottom: 20px;}
p.service img {width: 20px;}
.button-comment {text-align: center;}
a.btn-color-re.mui-icon.mui-icon-plusempty {color: #000;font-weight: bold;}
.tianjia {margin-left: 10px;}
.things{margin-left: 10px;margin-bottom: 10px;}
.things p {font-size: 16px;font-weight: bold;margin-left: 10px;}
li.mui-table-view-cell.mui-collapse {border-bottom: 1px solid #eee;}

/*生活资料*/
div#segmentedControl1 a {font-size: 16px;}
/*span.area {float: right;}*/
.mui-address {margin-bottom: 10px;background-color: #fff;}
.mui-population {background-color: #fff; }
/*.family-information {border-bottom: 1px solid #eee;}*/
.family-information p {margin-top: 12px; margin-bottom: 8px;}
p.information small { margin-left: 18px;font-size: 16px;}
small.relation {color: #ffa935;}
.mui-family-information p { text-align: center;font-weight: 600; padding-top: 10px;}
p.information { font-size: 16px;}
p.customer {font-weight: bold; line-height: 32px;}
p.customer select { width: 100%;}
select#select_k1 {font-weight: normal; height: 32px;}
ul.mui-table-view.mui-chevron img {width: 40px;}
ul.mui-table-view.mui-chevron{background-color: #fff;}
ul.mui-table-view.mui-notice {background-color: #fff;}
input[type="living"] { width: 14%;float: initial;height: 32px;}
select#select_k2 {width: 45%; height: 32px;}
select#details {width: 32.3%;height:32px;}
input[type="details"] {width: 100%; height: 32px;}
button.mui-btn-address {color: #fff;border: 1px solid #ffa935;background-color: #ffa935; display: block;margin: 30px auto;padding: 5px 10px; float: none;width: 80%;text-align: center;}
input[type="area"] ,input[type="height"]{ width: 20%;float: inherit;}
small.height {margin-left: 12px;}
.saloon {background-color: #fff;margin-left: 10px; margin-right: 10px;border-radius: 5px;margin-bottom: 10px;}
.mui-wrap-k a ,.mui-wrap-o a{color: #000; margin-top: -26px;}
.mui-wrap-s a {color: #000; margin-top: -18px;}
.mui-wrap-k {border-bottom: 1px solid #eee;}
.mui-wrap-tt {border-bottom: 1px solid #eee;}
a.btn-color-w.mui-icon.mui-icon-plusempty.mui-pull-right {font-weight: bold;}

/*客户拜访*/
p.picture {font-size: 14px;color: #ffa935;}
p.picture img {width: 58px;}
.title-o p ,.title-k p { white-space: initial;line-height: 30px;}
.title-t,.title-o {border-bottom: 1px solid #eee;}
.title-t span,.title-o span,.title-k span  {line-height: 20px;}
.feedback .image-list {background-size: cover;overflow: hidden;margin-top: -5px;}
.feedback .image-item.space {border: none;}
.feedback .image-item {width: 65px;height: 65px;background-size: 100% 100%;display: inline-block;position: relative;border-radius: 5px;margin-right: 10px;margin-bottom: 10px;border: solid 1px #e8e8e8;vertical-align: top;}
.feedback .image-item.space .image-close {display: none;}
.feedback .image-item .image-close { position: absolute; display: inline-block;right: -6px;top: -6px;width: 20px;height: 20px;text-align: center;line-height: 20px;border-radius: 12px;background-color: #FF5053;color: #f3f3f3; border: solid 1px #FF5053;font-size: 9px;font-weight: 200;z-index: 1;}
.image-close img { width: 58px;margin-right: 10px;}
p.sy small {font-size: 14px;color: #ffa935}
p.sy {font-size: 14px;margin-left: 85px;margin-top: -37px;}
input[type="people-mianji"] {width: 75%;height: 32px;float: inherit;}
input[type="people-village"] {width: 50%;float: inherit;height: 32px;}
label {margin-right: 24px;}
input.people-name {width: 62%;float: inherit;height: 32px;border: 1px solid #aaa; border-radius: inherit;}
input.people-much {width: 55%;float: inherit;height: 32px;border: 1px solid #aaa;border-radius: inherit;}
input.people-dz {width: 100%;float: left;height: 32px;border: 1px solid #aaa;border-radius: inherit;}
input.people-rzl {width: 55%;float: inherit;height: 32px;border: 1px solid #aaa;border-radius: inherit;}
input.people-mj {width: 38%;float: inherit;height: 32px;border: 1px solid #aaa; border-radius: inherit;}
p.life {margin-bottom: 0px;}
a.more {color: #fff;}










